<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    {% if logged_in %}
        {% include "header-logged-in.html" %}
    {% else %}
        {% include "header-logged-out.html" %}
    {% endif %}


    {% block content %}
    {% endblock content %}

    {% with footer_year=footer_year %}
    {% include "footer.html" %}
    {% endwith %}

</body>
</html>