<div class="header">
    <div class="logo">
        <a href="#" class="header-text">MyBirthdayReminder</a>
    </div>
    <div class="nav">
        <ul class="nav-items">
            <li class="nav-link"><a href="#">My Reminders</a></li>
            <li class="nav-link"><a href="#">My Account</a></li>
            <div class="my-account-container">
                <ul class="my-account-dropdown">
                    <li class="nav-link"><a href="#">Settings</a></li>
                    <li class="nav-link"><a href="#">Gift Ideas</a></li>
                </ul>
            </div>
            <li class="nav-link"><a href="#">Sign Up</a></li>
            <li class="nav-link"><a href="#">Log Out</a></li>
        </ul>
    </div>
</div>